.container-fluid
    %footer.pt-4.my-md-5.pt-md-5.border-top
        .row
            .col-6.col-md-3.offset-md-3.text-center
                %h5 Data Sources
                %ul.list-unstyled.text-small
                    %li
                        %a.text-muted{ href: 'https://developers.google.com/civic-information',
                        target: :_blank } Google Civic Information
                    %li
                        %a.text-muted{ href: 'https://www.census.gov/data.html',
                        target: :_blank } Census.gov
            .col-6.col-md-3.text-center
                %h5 API Resources
                %ul.list-unstyled.text-small
                    %li
                        %a.text-muted{ href: 'https://gnews.io/',
                        target: :_blank } Google News API
                    %li
                        %a.text-muted{ href: 'https://www.propublica.org/datastore/apis',
                         target: :_blank } ProPublica
        .row
            .col-12.col-md-4.offset-md-4.text-center
                %small.d-block.mb-3.text-muted
                    %a{ href: 'http://www.saasbook.info/',
                    target: :_blank }
                        Engineering Software as a Service
            .col-12.col-md-4.offset-md-4.text-center
                %small.d-block.mb-3.text-muted © 2019-2020
