// A Bootswatch Cosmo navbar
// https://bootswatch.com/cosmo/

%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary#navbar
    %a.navbar-brand{ href: root_path.to_s } Actionmap
    %button.navbar-toggler{ 'aria-controls': 'navbar-links-container', 'aria-expanded': 'false',
    'aria-label': 'Toggle navigation', 'data-target': '#navbar-links-container',
    'data-toggle': 'collapse', type: 'button' }
        %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-links-container
        %ul.navbar-nav.mr-auto
            - ApplicationHelper.nav_items.each do |item|
                %li.nav-item.py-1.text-center{ class: ApplicationHelper.active(controller_name, item[:link]) }
                    %a.nav-link.text-white{ href: item[:link].to_s }
                        = item[:title]
                        - if current_page? item[:link]
                            %span.sr-only (current)
        %ul.navbar-nav.mr
            - if authenticated
                %li.nav-item.py-1.text-center{ class: ApplicationHelper.active(controller_name, user_profile_path) }
                    %a.nav-link.text-white{ href: user_profile_path }
                        - if current_user
                            Welcome,
                            = current_user.first_name
                        - else
                            Welcome, User
                        - if current_page? user_profile_path
                            %span.sr-only (current)
                %li.nav-item.py-1.text-center
                    .float-right
                        = link_to logout_path, class: 'btn text-white' do
                            Logout
                            %i.fas.fa-sign-out-alt
            - else
                %li.nav-item.py-1.text-center{ class: ApplicationHelper.active(controller_name, login_path) }
                    %a.nav-link.text-white{ href: login_path }
                        %i.fas.fa-sign-in-alt
                        Login
                        - if current_page? login_path
                            %span.sr-only (current)
