.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %h1.text-center Find a news article

    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        = render 'form_new',
        representatives_list: @representatives_list,
        issues_list: @issues_list,
        representative: @representative
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        .clearfix.mt-3
            .float-right
                = link_to representative_news_items_path(@representative), class: 'btn btn-info' do
                    View news articles
                    %i.fas.fa-arrow-right
