.row
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %h1.text-center Edit event

        = render 'form', event: @event, form_url: { controller: :my_events, action: :update },
        form_method: :put

    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        .clearfix.mt-3
            .float-right
                = link_to events_path, class: 'btn btn-info' do
                    View all events
                    %i.fas.fa-arrow-right
