/** Bootstrap Sass Overrides can be added before importing bootstrap and other custom themes. */
@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootswatch/dist/cosmo/bootswatch";

path {
    fill: #ccc;
    stroke: #fff;
    stroke-width: .5px;
}

.bg-primary-active {
    background-color: darken($primary, 10%);
}

.map-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.field_with_errors {
    color: red;
}
